.container {
  width: 800px; 
  margin: 0 auto;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
 
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}